.news-inner{
    background: url('../images/pinky.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: row;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}

.main-headingsz{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    position: absolute;
    top: 20%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.news-right{
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(0%, -30%);
}

.news-photo{
    width: 110%;
}

.news-body{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    color: black;
    padding: 20px;
    width: 50%;
    position: absolute;
    top: 60%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.news-inner input{
    border: none !important;
}
                
.news-inner input:focus{
    outline: none !important;
}

.news-inner form{
    font-size: 20px;
    position: relative;
    padding-top: 20px;
    font-family: calibri;
    font-weight: bold;
    padding-left: 40px;
    
}
                
                
.news-inner input[type=email]{
    width: 80%;
    border-bottom: 1px solid black !important;
    background-color: transparent;
    color: black;
    transition: width 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    text-align: left;
    }

.news-inner label{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.btn-sbmt-final{
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #fc2956;
    color: white;
    margin: 30px 0px 0px 0px;
    width: 40%;
}

.btn-sbmt-final:hover{
    background-color: #fc2956;
    color: white;
}

@media screen and (max-width: 1025px){
    .news-inner{
        height: 40vh;
    }
    .news-photo{
        width: 130%;
    }
    .news-right{
        top: 30%;
        left: 50%;
        transform: translate(-10%, -30%);
    }
    .news-body{
        top: 60%;
    }
}

@media screen and (max-width: 769px){
    .news-inner{
        height: 100vh;
    }
    .news-photo{
        width: 130%;
    }
    .news-right{
        top: 65%;
        left: 35%;
        transform: translate(-50%, -30%);
    }
    .main-headingsz{
        position: absolute;
        top: 13%;
        left: 25%;
        transform: translate(-10%, -50%);
    }
    .news-body{
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }
    
}

@media screen and (max-width: 415px){
    .news-inner{
        height: 80vh;
    }
    .news-right{
        display: none;
    }
    .main-headingsz{
        font-size: 3rem;
        position: absolute;
        top: 13%;
        left: 27%;
        transform: translate(-15%, -50%);
    }
    .news-body{
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    .btn-sbmt-final{
        border-radius: 30px;
        padding: 10px 20px;
        background-color: #fc2956;
        color: white;
        width: 80%;
    }
    
}

@media screen and (max-width: 376px){
    .news-inner{
        height: 70vh;
    }
    .news-right{
        display: none;
    }

    .news-inner form{
        padding-left: 20px;
    }
    .news-headingsz{
        font-size: 3rem;
        position: absolute;
        top: 11%;
        left: 25%;
        transform: translate(-15%, -50%);
    }
    .news-body{
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }
}

@media screen and (max-width: 321px){
    .news-inner{
        height: 90vh;
    }
    .news-right{
        display: none;
    }
    .main-headingsz{
        font-size: 2.5rem;
        position: absolute;
        top: 11%;
        left: 30%;
        transform: translate(-15%, -50%);
    }
    .news-body{
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        font-size: 12px;
    }
}

